body {
    background-color: #777; 
    width: 960px; 
    color: grey;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    font-size: 18px; 
}

section {
    background-color: #ebebeb 
}


.header {
    width: 80%;
    padding: 25px;
    align-items: center;
    display: block;
    margin-top: 10px;
}

.nav {
    width: 80%;
    padding: 25px;
    align-items: center;
    display: block;
    margin-top: 10px;
}

.section {
    width: 60%; 
    height: 250px;
    margin-top: 15px;
    float: left;
}

.aside {
    width: 23%;
    height: 250px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;   
}

.article {
    background-color: #777;
    width: 94%;
    position: relative;
    top: 40px;
    left: 3%;
    height: 170px;
    margin-top: 5px;
}

.heading {
    position: relative;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 50px;
    }

.paragraph {
    position: relative;
    left: 10%;
    top: 23%;
    width: 80%;
    height: 50px;
    }


footer {
    overflow: auto;
    clear: both; 
    width: 80%;
    padding: 25px;
    align-items: center;
    display: block;
    text-align: center;
    margin-top: 280px;
    background-color: #ebebeb
}

