        body {
            font-family: Arial, "Helvetica Neue", sans-serif;
            width: 960px;
            background-color: #777;
            font-size: 18px;
            margin: auto;
        }
        
        div {
            background-color: #ebebeb;
            margin: 10px;
            text-align: center;
        }
        
        .grey {
            
            color: #777;
            background-color:#ebebeb;
        }
        
        .article {
            background-color:#777;
            color: #ebebeb;
            height: 80%;
        }

        .article h1, .article h2, .article h3, .article p {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .article p {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 10px;
        }

        #container {
            background-color: #777;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 20px;
            margin-bottom: 50px; 
        }

        #header, #footer, #nav {
            vertical-align: middle;
            padding-top: 50x;
            padding-bottom: 50px;
            width: 942px;
        }
        #section {
            float: left;
            width: 516px;
            display: inline;
            height: 400px;
            padding-top: 50px;
        }

        #aside {
            border-width: 2;
            width: 405px;
            height: 400px;
            margin-top: 20px;
            margin-left: 547px;
            padding-top: 50px;
        }


        #footer {
            clear: both;
        }